<div class="container">
	<div class="login-box">
		<br>
		<h2>LOGIN</h2>
		<br>
		<form action="/login" method="post">
			<input class="form-control form-control-lg" type="text" placeholder="Email" name="email">
			<br>
			<input class="form-control form-control-lg" type="password" placeholder="Password" name="password">
			<br>
			<button type="submit" class="btn btn-secondary btn-lg float-right">LOGIN</button>
		</form>
		<br><br>
		<div>Don't have account? <a href="/signUp">Sign up here</a></div>
		<br>
	</div>
</div>